#!/usr/bin/env bash
#  Usage: activate.sh user_name
#  Expects drutopia folder higherarchy installed in user_name's home folder.
#
#  Link a drutopia web site to a user's folder, and add appropriate links
#  between user data and drutopia data.
#
#  Based in part on: https://www.drupal.org/node/244924

# Return values:
# 0 - no changes
# 1 - updated ok
# 2 - not root
# 3 - invalid user/group
# 4 - no site root set up
# 5 - no drupal found
# 6 - other error

# Ensure all errors are captured
# -e exit on any error
# -u treat unset vars as error
# -o pipefail catch errors on the right side of a |
# -x print statements before execution (prints to stderr - so, will cause failed result w/ansible)
# -E subshells inherit traps
# See: https://vaneyckt.io/posts/safer_bash_scripts_with_set_euxo_pipefail/
set -Eeuo pipefail

print_err() {
  echo "An unexpected error occurred in $(caller)"
  exit 6
}

trap 'print_err' ERR

dist={{ drutopia_library_path }}/{{ release }}/{{ release }}.tgz
dist_version={{ drutopia_library_path }}/{{ release }}/VERSION
dest_user=$1
httpd_group=$1
site={{ member_root }}/$1/site
user_custom={{ member_root }}/$1/custom
member_temp={{ member_root}}/$1/tmp
themes=web/themes/custom
admin_user=root

# Display usage:
print_usage() {
cat <<-USAGE
This script activates an associated Drutopia build for a specified member site.
Usage: (sudo) bash ${0##*/} USER
USAGE
}

# Check for the basics:
if [ $(id -u) != 0 ]; then
  printf "ERROR: You must run this as root.\n\n"
  print_usage
  exit 2
fi
if [ -z "${dest_user}" ] || [[ $(id -un "${dest_user}" 2> /dev/null) != "${dest_user}" ]]; then
  printf "ERROR: Please provide a valid user.\n\n"
  print_usage
  exit 3
fi
if [ -z "${httpd_group}" ] || [[ $(id -gn "${httpd_group}" 2> /dev/null) != "${httpd_group}" ]]; then
  printf "ERROR: Please provide a valid group for httpd.\n\n"
  print_usage
  exit 3
fi
if [ -z "${site}" ] || [ ! -d $site ]; then
  printf "ERROR: User's site directory not present.\n"
  printf "Site root should exist in: ${site}\n\n"
  print_usage
  exit 4
fi

# Use users temp folder, when available
if [ -d ${member_temp} ]; then
  [ -n ${TMPDIR+is_set} ] && tmp_save=${TMPDIR:-/tmp}
  TMPDIR=${member_temp}
  export TMPDIR
fi

# Detect versions changing (0 = no diff)
version_diff="1"
if [ -f $site/VERSION ]; then
  set +eE
  version_diff="$(diff -q $site/VERSION ./VERSION; echo $?)"
  set -eE
fi

# If also installing a new build, always set custom_diff = 1 (to prevent theme loss)
custom_diff="${version_diff}"
if [ -f $site/INSTALLING-CUSTOM-VERSION -a "${custom_diff}" == "0" ]; then
  if [ -f $site/CUSTOM-VERSION ]; then
    set +eE
    custom_diff="$(diff -q $site/INSTALLING-CUSTOM-VERSION $site/CUSTOM-VERSION; echo $?)"
    set -eE
  else
    custom_diff="1"
  fi
fi

if [ -f $site/INSTALLING-VERSION ]; then
  printf "WARNING: Apparently a prior install failed (INSTALLING-VERSION exists). Continuing...\n"
fi

# Can we exit early? If nothing is changing, save some energy
if [ "$version_diff" == "0" ] && [ "$custom_diff" == "0" ]; then
  printf "WARNING: Installed versions matched requested install. Quitting. Change VERSION file(s) to force reinstall.\n"
  exit 0
fi

# Copy the drupal source:
if [ "$version_diff" != "0" ]; then
  printf "Installing build:\n source => ${dist} \t dest => ${site}\n"
  if [ -f $site/VERSION ]; then
    mv $site/VERSION $site/PREVIOUS-VERSION
  fi
  cp $dist_version $site/INSTALLING-VERSION
  tar_tmp=$(mktemp -d)
  tar -x -f ${dist} -C ${tar_tmp} -z
  # Permissions should be done by Ansible:
  # was on tar: --owner=${admin_user} --group=${httpd_group}
  # was on rsync: --usermap=*:${admin_user} --groupmap=*:${httpd_group} --chmod=D750,F640
  rsync --recursive --no-D --delete --links --protect-args --exclude="/*VERSION" --exclude="/.htpasswd" --exclude=web/sites/default/files --exclude=web/sites/default/settings.local.php ${tar_tmp}/ ${site}/
  [ -d ${tar_tmp} ] && rm -rf ${tar_tmp}
  # Ensure this looks like a valid Drupal install
  if [ ! -d "${site}/web/sites" ] || [ ! -f "${site}/web/core/modules/system/system.module" ] && [ ! -f "${site}/web/modules/system/system.module" ]; then
    printf "ERROR: Drupal does not appear to be installed in ${site}.\n\n"
    print_usage
    exit 5
  fi

  mv $site/INSTALLING-VERSION $site/VERSION
fi

# Add user-sourced elements:
if [ -f $site/INSTALLING-CUSTOM-VERSION -a "$custom_diff" != "0" ]; then
  if [ -f $site/CUSTOM-VERSION ]; then
    mv $site/CUSTOM-VERSION $site/PREVIOUS-CUSTOM-VERSION
  fi

  printf "Adding member config:\n source => ${user_custom}/config \t dest => ${site}/config\n"
  if [ -d "$user_custom/config" ]; then
    rsync -a -c --delete $user_custom/config $site/
  fi

  printf "Adding member translations:\n source => ${user_custom}/translation \t dest => ${site}/translation\n"
  if [ -d "$user_custom/translation" ]; then
    rsync -a -c --delete $user_custom/translation $site/
  fi

  printf "Adding member themes:\n source => ${user_custom}/$themes \t dest => ${site}/$themes\n"
  if [ -d "$user_custom/$themes" ]
  then
    for theme in $user_custom/$themes/*
    do
      rsync -a --delete --exclude="*.php" $theme $site/$themes
    done
  fi

  printf "Processing re-write map\n source => ${user_custom}/redirects.txt \t dest => ${site}/redirects.map\n"
  if [ -f ${user_custom}/redirects.txt ]; then
    # httxt2dbm does not truncate existing records, so for simplicity:
    # we assume ALL redirects are present in redirect.txt
    if [ -f ${site}/redirects.map ]; then
      rm ${site}/redirects.map
    fi
    httxt2dbm -i ${user_custom}/redirects.txt -o ${site}/redirects.map
  fi

  printf "User code install complete"
  mv ${site}/INSTALLING-CUSTOM-VERSION ${site}/CUSTOM-VERSION
fi

# Restore tmpdir to original value
unset TMPDIR
[ -n ${tmp_save+is_set} ] && TMPDIR=${tmp_save:-/tmp}

# Indicate a successful change:
exit 1
