#!/usr/bin/env bash
set -e
#  Link a drutopia web site to a user's folder, and add appropriate links
#  between user data and drutopia data.
#
#  Based in part on: https://www.drupal.org/node/244924

# Return values:
# 0 - no changes
# 1 - updated OK
# 2 - not root
# 3 - invalid user
# 4 - no site root set up
# 5 - no user files folder
# 6 - no drupal found
# 7 - files folder is real directory (i.e. not soft link)

# Add switch for "NEW" site (skip validation of e.g. web folder)
dist={{ release }}.tgz
site=$1
user_custom=$1/custom
user_files=$2
themes=web/themes/custom
httpd_group=www-data
files_user=www-data
admin_user=root

# Display usage:
print_usage() {
cat <<-USAGE
This script activates an associated build to a specified path.
Usage: (sudo) bash ${0##*/} path_to_root path_to_files

Notes:
* path_to_root is the folder which contains web and vendor.
* path_to_files is the path to the users files directory, which should live
  outside the drupal install and will be linked.
USAGE
}

# # Check for the basics:
# if [ $(id -u) != 0 ]; then
#   printf "ERROR: You must run this as root.\n\n"
#   print_usage
#   exit 2
# fi
if [ -z "${site}" ] || [[ ! -d "${site}" ]]; then
  printf "ERROR: Please provide a valid root path.\n\n"
  print_usage
  exit 3
fi
if [ ! -d ${site}/web ]; then
  printf "ERROR: web directory not present.\n"
  printf "Web root should exist beneath: ${site}\n\n"
  print_usage
  exit 4
fi
if [ -z "${user_files}" ] || [ ! -d ${user_files} ]; then
  printf "ERROR: user_files directory not present.\n"
  print_usage
  exit 5
fi
printf "Checks passed.\n"
# Detect versions changing (0 = no diff)
version_diff="1"
if [ -f ${site}/VERSION ]; then
  version_diff="$(diff -q ${site}/VERSION ./VERSION; echo $?)"
fi

custom_diff="${version_diff}"
if [ -f ${site}/INSTALLING-CUSTOM-VERSION ]; then
  if [ -f ${site}/CUSTOM-VERSION ]; then
    custom_diff="$(diff -q ${site}/INSTALLING-CUSTOM-VERSION ${site}/CUSTOM-VERSION; echo $?)"
  else
    custom_diff="1"
  fi
fi

if [ -f ${site}/INSTALLING-VERSION ]; then
  printf "WARNING: Apparently a prior install failed (INSTALLING-VERSION exists). Continuing...\n"
fi

# Can we exit early? If nothing is changing, save some energy
if [ "$version_diff" == "0" ] && [ "$custom_diff" == "0" ]; then
  printf "WARNING: Installed versions matche requested install. Quitting. Remove VERSION file(s) to force reinstall.\n"
  exit 0
fi

# Copy the drupal source:
if [ "$version_diff" != "0" ]; then
  printf "Installing build:\n source => ${dist} \t dest => ${site}\n"
  if [ ! -L ${site}/web/sites/default/files ] && [ -d ${site}/web/sites/default/files ]; then
    printf "STOPPING: Files folder should be a soft-link, not a real folder!\n"
    exit 7
  fi

  if [ -f ${site}/VERSION ]; then
    mv ${site}/VERSION ${site}/PREVIOUS-VERSION
  fi
  cp ./VERSION ${site}/INSTALLING-VERSION
  # Remove existing {site} (keep settings)
  if [ -f ${site}/web/sites/default/settings.local.php ]; then
    mv ${site}/web/sites/default/settings.local.php ${site}/settings.local.php
  fi

  # Remove existing web/vendor
  rm -rf ${site}/vendor
  rm -rf ${site}/web
  [ -f ${site}/composer.json ] && rm ${site}/composer.json
  [ -f ${site}/composer.lock ] && rm ${site}/composer.lock
  mkdir -p ${site}/web/sites/default
  ln -s ${user_files} ${site}/web/sites/default/

  # Extracts into site & vendor:
  tar xzf ${dist} --one-top-level=${site} --group=${httpd_group} -p
  if [ -f ${site}/settings.local.php ]; then
    mv ${site}/settings.local.php ${site}/web/sites/default/settings.local.php
  fi

  # Ensure this looks like a valid Drupal install
  if [ ! -d "${site}/web/sites" ] || [ ! -f "${site}/web/core/modules/system/system.module" ] && [ ! -f "${site}/web/modules/system/system.module" ]; then
    printf "ERROR: Drupal does not appear to be installed in ${site}.\n\n"
    print_usage
    exit 6
  fi

  mv ${site}/INSTALLING-VERSION ${site}/VERSION
  # Server operators maintain code, so the owner remains root.
  printf "Changing ownership of all contents of ${site}/web:\n user => ${admin_user} \t group => ${httpd_group}\n"
  chown -R ${admin_user}:${httpd_group} ${site}/web
  printf "Changing ownership of all contents of ${site}/vendor:\n user => ${admin_user} \t group => ${httpd_group}\n"
  chown -R ${admin_user}:${httpd_group} ${site}/vendor
  printf "Changing ownership of composer files:\n user => ${admin_user} \t group => ${httpd_group}\n"
  chown ${admin_user}:${httpd_group} ${site}/composer.*
  printf "Changing permissions of all directories inside ${site}/web to rwxr-x---...\n"
  find ${site}/web -type d -exec chmod u=rwx,g=rx,o= '{}' \;
  printf "Changing permissions of all files inside ${site}/web to rw-r-----...\n"
  find ${site}/web -type f -exec chmod u=rw,g=r,o= '{}' \;
fi

# Ensure there's a proper sync folder (in case we don't have one otherwise)
if [ ! -d "${site}/config/sync" ]; then
  mkdir -p ${site}/config/sync
  chown -R $dest_user:$dest_user ${site}/config
  chmod -R 770 ${site}/config
fi

# Add user-sourced elements:
if [ "$custom_diff" != "0" ]; then
  if [ -f ${site}/CUSTOM-VERSION ]; then
    mv ${site}/CUSTOM-VERSION ${site}/PREVIOUS-CUSTOM-VERSION
  fi

  printf "Adding member config:\n source => ${user_custom}/config \t dest => ${site}/config\n"
  if [ -d "$user_custom/config" ]; then
    rsync -a -c --delete $user_custom/config ${site}/
  fi

  printf "Adding member themes:\n source => ${user_custom}/$themes \t dest => ${site}/$themes\n"
  if [ -d "$user_custom/$themes" ]
  then
    for theme in $user_custom/$themes/*
    do
      rsync -a --delete --exclude="*.php" $theme ${site}/$themes
    done
  fi

  printf "Processing re-write map\n source => ${user_custom}/redirects.txt \t dest => ${site}/redirects.map\n"
  if [ -f ${user_custom}/redirects.txt ]; then
    # httxt2dbm does not truncate existing records, so for simplicity:
    # we assume ALL redirects are present in redirect.txt
    if [ -f ${site}/redirects.map ]; then
      rm ${site}/redirects.map
    fi
    httxt2dbm -i ${user_custom}/redirects.txt -o ${site}/redirects.map
  fi

  printf "User code install complete"
  mv ${site}/INSTALLING-CUSTOM-VERSION ${site}/CUSTOM-VERSION
fi

# Only the user's files should be writable.
# access to the code via apache+php.
#printf "Changing ownership of all contents of ${user_files}:\n user => ${files_user} \t group => ${files_user}\n"
#chown -R ${files_user}:${files_user} $user_files
printf "Changing permissions of all directories ${user_files} and below to rwxrws---...\n"
chmod u=rwx,g=srwx,o= ${user_files}
find ${user_files} -type d -exec chmod u=rwx,g=srwx,o= '{}' \;
printf "Changing permissions of all files inside ${user_files} to rw-rw----...\n"
find ${user_files} -type f -exec chmod ug=rw,o= '{}' \;

# Indicate a successful change:
printf "Successfully installed ${dist} into ${site}\n"
exit 1
