{{ member_root|default('/home') }}/*/logs/web-*.log {
        daily
        missingok
        rotate 14
        compress
        delaycompress
        notifempty
        # create 640 root adm
        create
        sharedscripts
        su root root
        postrotate
                if /etc/init.d/apache2 status > /dev/null ; then \
                    /etc/init.d/apache2 reload > /dev/null; \
                fi;
        endscript
        prerotate
                if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
                        run-parts /etc/logrotate.d/httpd-prerotate; \
                fi;
        endscript
}

{{ member_root|default('/home') }}/*/logs/php-*.log {
        rotate 12
        weekly
        missingok
        notifempty
        compress
        delaycompress
        postrotate
        su root root
        {% for php_version in php_versions_enabled %}
                /usr/lib/php/php{{ php_version }}-fpm-reopenlogs
        {% endfor %}
        endscript
}

{{ member_root|default('/home') }}/*/logs/fpm-slow.log {
        rotate 12
        weekly
        missingok
        notifempty
        compress
        delaycompress
        postrotate
        su root root
        endscript
}
