# See documentation in ./vendor/drush/drush/examples/example.drush.yml

options:
  root: '{{ drupal_dir }}'
  uri: 'https://{{ server_hostname }}'

command:
  sql:
    dump:
      options:
        structure-tables-key: common
        skip-tables-key: common

sql:
  structure-tables:
    common:
      - cache
      - 'cache_*'
      - history
      - 'search_*'
      - 'sessions'
      - 'watchdog'
  skip-tables:
    common:
      - 'migration_*'
