[{{ drutopian }}]
user = {{ drutopian }}
group = {{ drutopian }}
; chroot fails due to files location not being included
; and may need "internal" redirect from apache first
; i.e. change /home/<site>/site/web to /web
; chroot = {{ site_dir }}

listen = /var/run/php-fpm{{ php_version }}-$pool.sock
listen.owner = {{ php_fpm_listen_user }}
listen.group = {{ php_fpm_listen_group }}

pm = {{ php_fpm_pm }}
pm.max_children = {{ php_fpm_pm_max_children }}
pm.max_requests = {{ php_fpm_pm_max_requests }}
pm.process_idle_timeout = {{ php_fpm_pm_process_idle_timeout }}

; If using dynamic settings:
pm.start_servers = {{ php_fpm_pm_start_servers }}
pm.min_spare_servers = {{ php_fpm_pm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm_pm_max_spare_servers }}
{% if fpm_logging %}
php_admin_value[error_log] = {{ log_dir }}/fpm-debug.log
php_admin_flag[log_errors] = on
catch_workers_output = yes
{% endif %}
{% if fpm_slowlog %}
slowlog = {{ log_dir }}/fpm-slow.log
request_slowlog_timeout = 60s
{% endif %}

request_terminate_timeout = 90s
